@use "../utils";

.btn-an {
  box-shadow: 0px 10px 15px -3px #7DD3FC33;
  transition: all 0.2s linear;

  svg {
    transition: all 0.4s ease-in;
  }

  &:hover > svg {
    transform: scale(1.1);
  }

  &:hover {
    box-shadow: 0 0 20px rgba(125, 211, 252, 0.4);
    transform: translateY(-2px);
  }
}