@use "../fonts/Inter";
@use "../utils";

.footer {
  @include Inter.setFont(14px, 400);
  //color: #94A3B8;
  margin-bottom: 20px;
  margin-top: 20px;

  @include utils.from('sm') {
    font-size: 16px;
    margin-top: 30px;   
    
    &__fullwidth {
      flex-direction: row!important;
    }

    .address {
      flex-direction: column!important;
      gap: 0!important;
      align-items: flex-start!important;

      &__town {
        font-size: 12px!important;
      }

      &__streets {
        flex-direction: row!important;
        font-size: 14px!important;
        gap: 10px!important;
      }

      &:before {
        top: 6px!important;
      }
    }

    .tel-worktime {
      align-items: flex-end;
    }
  }

  @include utils.from('md') {
    margin-top: 40px;

    &__container {
    }

    &__call-btns {
      margin: 0!important;
      flex-direction: row!important;
      gap: 5px!important;
      width: max-content!important;
    }

    &__btn {
      padding: 6px 15px!important;
    }

    &__bottom {
      flex-direction: row!important;
    }
  }

  &__container {
    background-color: #F0F0F0;
    border-radius: 24px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__fullwidth {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
  }

  &__logo-img {
    filter: invert(1);
    max-width: 150px;
  }

  &__call-btns {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    color: black;
    padding: 10px 15px;
    border-radius: 8px;
    border: unset;
    background-color: #e0e0e0;
    border: 1px solid #aaa;

    &--sign {
      background-color: var(--main-color);
      border-color: transparent;
      color: #001F2E;
      box-shadow: 0px 10px 15px -3px #7DD3FC33;
    }
  }

  &__organization {
    text-align: center;
    font-weight: 200;
  }

  &__disclaimer {
    font-size: 16px;
    margin: 30px 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }

  a {
    color:#000;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #000;
  }

  .tel-worktime {
    color: #000;

    &__tel {
      font-size: 22px;
    }
    
    &__wt {
      margin-left: 0;
    }
  }

  .address {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-left: 25px;

    &:before {
      content: '';
      position: absolute;
      top: 11px;
      left: -25px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='24' height='24' rx='12' fill='white'/%3e%3cpath d='M12.0013 11.7057C11.6145 11.7057 11.2436 11.5521 10.9701 11.2786C10.6966 11.0051 10.543 10.6342 10.543 10.2474C10.543 9.86062 10.6966 9.48969 10.9701 9.2162C11.2436 8.94271 11.6145 8.78906 12.0013 8.78906C12.3881 8.78906 12.759 8.94271 13.0325 9.2162C13.306 9.48969 13.4596 9.86062 13.4596 10.2474C13.4596 10.4389 13.4219 10.6285 13.3486 10.8055C13.2753 10.9824 13.1679 11.1432 13.0325 11.2786C12.8971 11.414 12.7363 11.5214 12.5594 11.5947C12.3824 11.668 12.1928 11.7057 12.0013 11.7057ZM12.0013 6.16406C10.9183 6.16406 9.87972 6.59427 9.11395 7.36004C8.34818 8.12582 7.91797 9.16443 7.91797 10.2474C7.91797 13.3099 12.0013 17.8307 12.0013 17.8307C12.0013 17.8307 16.0846 13.3099 16.0846 10.2474C16.0846 9.16443 15.6544 8.12582 14.8887 7.36004C14.1229 6.59427 13.0843 6.16406 12.0013 6.16406Z' fill='%23242424'/%3e%3c/svg%3e ");
      width: 20px;
      min-width: 20px;
      aspect-ratio: 1;
    }

    &__town {
      font-weight: 300;
    }

    &__streets {
      display: flex;
      flex-direction: column;
      font-size: 11px;
      font-weight: 600;
    }
  }
}