@use "../fonts/Inter";
@use "../utils";

.form-block {  

  @include Inter.setFont(14px, 400);
  color: #94A3B8;
  margin-bottom: 20px;
  margin-top: 20px;

  @include utils.from('sm') {
    font-size: 16px;

    &__form {
        flex-direction: row!important;
        gap: 2%;
    }

    &__input,
    &__btn {
        width: 49%;
    }
  }

  @include utils.from('md') {
    margin-top: 40px;    

    &__top {
      width: 50%;
      gap: 10px!important;    
    }

    &__container {
      flex-direction: row!important;
      align-items: center;
      padding: 30px 40px!important;
    }

    &__descr {
      color: #fff;
      font-weight: 300;
    }
  }

  @include utils.from('lg') {  
    &__container {
      padding: 50px 40px 40px 40px!important;
    }  

    &__top {
      gap: 0!important;    
    }

    &__title {
      font-weight: 500;
    }

    &__form {
      width: 50%;
    }

    &__input,
    &__btn {
      padding: 15px 30px!important;
    }
  }

  &__container {
    background-color: #464C57;
    border-radius: 24px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__title {
    font-size: 24px;
    color: #fff;
  }

  &__descr {
    line-height: 1.5em;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: var(--main-color);
    border-color: transparent;
    color: #001F2E;
    box-shadow: 0px 10px 15px -3px #7DD3FC33;
  }

}

.input-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #575c64;
    border: 1px solid #8a8f96;
    color: white;
    font-weight: 400;

    &:focus {
      outline: none;
    }
}