@use "../fonts/Inter";
@use "../utils";

.form-block {
  background-color: #464C57;
  border-radius: 24px;
  padding: 20px 0;

  @include Inter.setFont(14px, 400);
  color: #94A3B8;
  margin-bottom: 20px;
  margin-top: 20px;

  @include utils.from('sm') {
    font-size: 16px;

    &__form {
        flex-direction: row!important;
        gap: 2%;
    }

    &__input,
    &__btn {
        width: 49%;
    }
  }

  @include utils.from('md') {
    margin-top: 40px;    

    &__top {
        width: 50%;
    }

    &__container {
        flex-direction: row!important;
        align-items: center;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__title {
    font-size: 24px;
    color: #fff;
  }

  &__descr {
    line-height: 1.5em;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    color: black;
    padding: 10px 15px;
    border-radius: 15px;
    border: unset;
    background-color: #575c64;
    border: 1px solid #8a8f96;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    color: black;
    padding: 10px 15px;
    border-radius: 15px;
    border: unset;
    background-color: #e0e0e0;
    border: 1px solid #aaa;

    &--sign {
      background-color: var(--main-color);
      border-color: transparent;
      color: #001F2E;
      box-shadow: 0px 10px 15px -3px #7DD3FC33;
    }
  }

}