@use "../fonts/Inter";
@use "../utils";

.portfolio {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;

  @include Inter.setFont(14px, 400);

  @include utils.from('sm') {
    font-size: 16px;

    .splide__arrow {
      &--prev {
        left: 40%!important;
      }

      &--next {
        right: 40%!important;
      }
    }
  }

  @include utils.from('md') {
    margin-top: 40px;
    text-align: left; 
    
    &__descr {
      width: 75%;
      line-height: 1em; 
    }
  }

  @include utils.from('lg') {
    margin-bottom: 60px;

    &__descr {
      width: 50%; 
    }

    .splide__arrow {
      top: 40%!important;
      background-color: var(--main-color)!important;

      &--prev {
        left: 1em!important;
      }

      &--next {
        right: 1em!important;
      }
    }
  }

  @include utils.from('xl') {
    &__descr {
      width: 45%; 
    }
  }

  @include utils.from('xxl') {
    margin-top: 80px;
    margin-bottom: 90px;
  }

  &__wrap {
    @include utils.from('lg') {
      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 60px;
    }
  }

  &__container {
    @include utils.from('xxl') {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 10px;
    color: #001F2E;
    font-size: 26px;

    @include utils.from(lg) {
      font-size: 30px;
    }

    @include utils.from(xl) {
      font-size: 32px;
    }

    @include utils.from(xxl) {
      font-size: 36px;
      margin-bottom: 20px;
    }
  }

  &__descr {
    color: #5F6E7C;
    margin-bottom: 50px;

    @include utils.from(xxl) {
      font-size: 24px;
      width: 58%;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }

  &__img {
    border-radius: 24px;
    overflow: hidden;

    img {
      height: 100%;
      max-height: 200px;
      object-fit: cover;
      object-position: 50% 70%;
    }

    &:first-child {
      grid-column: 1 / span 2;
    }

  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    color: #001F2E;
    padding: 20px;
    border-radius: var(--main-radius);
    border: unset;
    background-color: var(--main-color);
    box-shadow: 0px 10px 15px -3px #7DD3FC33;
    width: 100%;
    margin-top: 15px;
  }

  .splide__arrow {
    top: 110%;
    background-color: unset;

    &--prev {
      left: 35%;
    }

    &--next {
      right: 35%;
    }
  }
}