@use "../utils";

.top-bg {
  position: relative;
  padding-bottom: 0;

  @include utils.from('sm') {
    padding-bottom: 10px;
  }

  @include utils.from('xxl') {
    padding-bottom: 160px;
  }

  @include utils.from('3xl') {
    padding-bottom: 250px;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: flex;
    width: 100%;
    height: calc(100% - 70px);
    background-image: url('/src/assets/images/bg.webp');
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include utils.from('xxl') {
      height: 100%;
    }
  }

  & ~ .our-doctors {
    @include utils.from('xxl') {
      margin-top: -90px;
      position: relative;
      z-index: 1;
    }

    @include utils.from('3xl') {
      margin-top: -180px;
    }
  }
}