@use "fonts/Inter";
@use "utils";

.loading {
  z-index: 50 !important;
}

.modal-wrapper {
  padding: 10px;
  overflow: hidden;
  width: 100%;
  @include Inter.setFont(24px, 500);
}

.modal-wrapper--loading {
  pointer-events: none;
}

.modal-wrapper--loading .modal {
  position: relative;

  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: -12px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: var(--main-color);
    animation: spinner 600ms linear infinite;
    z-index: 10;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.modal {
  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__closeBtn {
    cursor: pointer;
    transition: .2s all;
    padding: 5px;
    box-sizing: content-box;

    &:hover {
      color: red;
    }
  }

  &__wrap {
    height: 100%;
    padding: 20px;
    width: 100%;
    overflow-x: auto;
  }
}