@use "fonts/Inter";
@use "utils";

.loading {
  z-index: 50 !important;
}

.modal-wrapper {
  padding: 10px;
  overflow: hidden;
  width: 100%;
  @include Inter.setFont(24px, 500);
}

.modal-wrapper--loading {
  pointer-events: none;
}

.modal-wrapper--loading .modal-call {
  background-color: #0F1524;

  &:after {
    z-index: 1;
  }
}

.modal-wrapper--loading .modal {
  position: relative;

  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: -12px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: var(--main-color);
    animation: spinner 600ms linear infinite;
    z-index: 10;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.modal {
  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__closeBtn {
    cursor: pointer;
    transition: .2s all;
    padding: 5px;
    box-sizing: content-box;
    color: white;

    &:hover {
      color: red;
    }
  }

  &__wrap {
    height: 100%;
    padding: 20px;
    width: 100%;
    overflow-x: auto;
  }
}

.modal-success {
  position: relative;
  border-radius: var(--main-radius);
  overflow: hidden;

  * {
    position: relative;
    z-index: 1;
    color: white;
  }

  &:before {
    background: #0F1524;
    opacity: 0.88;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .2s all;
  }

  &__title {
    font-size: 20px;
    color: white;

    @include utils.from('s') {
      font-size: 30px;
    }

    @include utils.from('sm') {
      font-size: 40px;
    }

    @include utils.from('md') {
      font-size: 50px;
    }

    span {
      color: #2f3fb7;
    }
  }

  &__desc {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-weight: 300;

    @include utils.from('sm') {
      font-size: 18px;
    }

    @include utils.from('md') {
      font-size: 22px;
    }

    > span > span {
      color: var(--main-color);
      font-weight: 600;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

    @include utils.from('md') {
      flex-direction: row;
    }

    @include utils.from('md') {
      margin-top: 40px;
    }

    &-text {
      font-size: 16px;
      text-align: center;

      @include utils.from('md') {
        max-width: 280px;
        text-align: left;
        font-weight: 400;
      }
    }
  }

  &__left {
    @include Inter.setFont(14px, 300);
  }

  &__right {
    @include Inter.setFont(14px, 300);
    display: flex;
    flex-direction: column;
    gap: 5px;

    > span {
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;

      @include utils.from('md') {
        justify-content: right;
      }
    }

    a {
      text-decoration: unset;
      color: #2A2A2A;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      justify-content: center;
      display: flex;
      margin: 0 auto;

      @include utils.from('md') {
        font-size: 22px;
      }
    }
  }
}

.modal-call {
  position: relative;
  max-width: 500px;
  border-radius: var(--main-radius);
  overflow: hidden;

  * {
    position: relative;
    z-index: 1;
  }

  &:after {
    background: #0F1524;
    opacity: 0.88;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: .2s all;
  }

  &__title {
    font-size: 24px;
    color: white;
    text-align: center;
    color: white;

    @include utils.from('s') {
      font-size: 30px;
    }

    @include utils.from('sm') {
      text-align: left;
    }

    span {
      color: #2f3fb7;
    }
  }

  &__desc {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-weight: 300;
    text-align: center;
    color: #A0B4C4;

    @include utils.from('s') {
      font-size: 16px;
    }

    @include utils.from('sm') {
      font-size: 18px;
      text-align: left;
    }

    > span > span {
      color: var(--main-color);
      font-weight: 600;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

    @include utils.from('md') {
      flex-direction: row;
    }

    @include utils.from('md') {
      margin-top: 40px;
    }

    &-text {
      font-size: 16px;
      text-align: center;

      @include utils.from('md') {
        max-width: 280px;
        text-align: left;
        font-weight: 400;
      }
    }
  }

  &__left {
    @include Inter.setFont(14px, 300);
  }

  &__right {
    @include Inter.setFont(14px, 300);
    display: flex;
    flex-direction: column;
    gap: 5px;

    > span {
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;

      @include utils.from('md') {
        justify-content: right;
      }
    }

    a {
      text-decoration: unset;
      color: #2A2A2A;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      justify-content: center;
      display: flex;
      margin: 0 auto;

      @include utils.from('md') {
        font-size: 22px;
      }
    }
  }

  .input-phone {
    background-color: rgba(255, 255, 255, 0.03);
    border-color: #6B7280;
    padding: 20px 20px;
    width: 100%;
    margin-top: 20px;
    border-radius: var(--main-radius);
    font-size: 16px;
    color: white;
    transition: .2s color;

    &:hover::placeholder {
      color: white;
    }

    &:focus {
      border-color: white;

      &::placeholder {
        color:white;
      }
    }

    &::placeholder {
      color: #6B7280;
      transition: .2s color;
    }

    & ~ button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 16px;
      padding: 20px;
      width: 100%;
      margin-top: 10px;
      border-radius: var(--main-radius);
      background-color: var(--main-color);
      border-color: transparent;
      color: #001F2E;
      box-shadow: 0px 10px 15px -3px rgba(125, 211, 252, 0.2);

      @include utils.from(s) {
        font-size: 16px;
      }
    }
  }
}